<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<style>
		html, body { margin: 0; padding: 0; background-color: transparent; }
		svg { display: block; position: absolute; top: 0; left: 0; }
	</style>
</head>
<body>
	<%- svg %>
</body>
</html>
